* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #343A3F;
    background-color: #1661BE;
}

.header-section {
    background-color: #fff;
    padding: 70px 0 20px 0;
    overflow: hidden;
}

.wrap-center {
    max-width: 1130px;
    margin: 0 auto;
    clear: both;
    width: 100%;
}

.header-section h2 {
	font-size: 52px;
	font-weight: 900;
	color: #019CE0;
}

.header-section p {
    font-size: 12px;
    color: #4C5054;
    line-height: 18px;
    margin-top: 20px;
}

.intro-section {
    float: left;
    width: 100%;
}

.intro-img {
    float: left;
}

.intro-img img {
    position: relative;
    top: -117px;
    right: -24px;
    z-index: 999;
}

.intro-info {
    float: left;
}

.intro-header {
    padding: 40px 30px 0 115px;
}

.intro-header h3 {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    font-weight: 300;
}

.intro-header span {
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    font-weight: 300;
    display: block;
}

.intro-header p {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    margin: 20px 0;
}

.intro-contact {
    background-color: #019CE0;
    width: 100%;
    padding: 20px 0 30px 115px;
}

.address {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
}

.address span {
    width: 90px;
    display: inline-block;

}

.contact-icon ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-icon ul li {
    display: inline-block;
}

.contact-icon ul li a {
    color: #fff;
    font-size: 24px;
    padding: 15px 30px 0 0;
    display: block;
}

.intro-contact {
    position: relative;
}

.intro-contact::after {
    content: '';
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 14px solid transparent;
    border-top: 100px solid #222;
    transform: rotate(181deg);
    left: -15px;
    z-index: 1;
}

.service-section {
    float: left;
    width: 100%;
    margin-top: -144px;
    z-index: 9999;
    position: relative;
}

.header-inner {
    float: right;
}

.service-inner {
    background-color: #F5F7F7;
    float: left;
    width: 100%;
    position: relative;
}

.shape {
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: 20px;
	background-color: #F5F7F7;
	transform: rotate(-1deg);
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.occupation-section {
    float: left;
    padding: 40px 100px 40px 60px;
}

.unsalaried-section {
    float: left;
    padding: 58px 100px 111px 60px;
    background-color: #EBF3FC;
    z-index: 9999;
    position: relative;
}
.shape-2 {
	position: absolute;
	top: -15px;
	left: 0;
	width: 100%;
	height: 20px;
	background-color: #EBF3FC;
	transform: rotate(-1deg);
	z-index: 9999999;
}

.occupation-section h3.heading {
    font-size: 24px;
    color: #1661BE;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px
}

.unsalaried-section h3.heading {
    font-size: 24px;
    color: #1661BE;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px
}

.single-flex {
    margin-bottom: 30px;
    display: block;
    width: 100%;
    float: left;
}

.icon {
    width: 80px;
    height: 80px;
    background-color: #00B9F2;
    border-radius: 50px;
    text-align: center;
    padding-top: 25px;
    font-size: 32px;
    color: #fff;
    margin-right: 15px;
    float: left;
}
.content-item{
    width: 300px;
    float: left;
}
.content-item h3 {
    font-size: 20px;
    color: #019CE0;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 22px;
}

.content-item p {
    font-size: 18px;
    color: #343A3F;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 5px;
}

.pre-css-hidden {
    display: block !important;
}

@media all and (min-width:768px) and (max-width:1130px) {
    .w-40 {
	width: 43%;
}
.intro-header {
	padding: 20px 30px 0 73px;
}
.intro-header p {
	font-size: 14px;
}
.intro-img img {
	position: relative;
	top: -117px;
	right: 1px;
	width: 100%;
}
.intro-contact {
	padding: 20px 0 63px 73px;
}
.service-section {
	margin-top: -132px;
}

.occupation-section {
	padding: 40px 35px 40px 60px;
}
.unsalaried-section {
	padding: 58px 34px 111px 60px;
}
}
@media all and (min-width:1080px) and (max-width:1130px) {
    .service-section {
    	margin-top: -142px;
    }
}
@media all and (max-width:767px) {
    body {
        background-color: #fff;
    }

    .wrap-center {
        max-width: 100%;
        width: 100%;
    }

    .header-section {
        padding: 50px 10px;
    }

    .w-40 {
        width: 100%;
    }

    .header-section h2 {
        font-size: 44px;
    }

    .header-section p {
        font-size: 12px;
        color: #4C5054;
        line-height: 18px;
        margin-top: 11px;
    }

    .intro-img {
        text-align: right;
    }

    .intro-img img {
        position: static;
        float: right;
        width: 88%;
    }

    .w-50 {
        width: 100%;
    }

    .service-section {
        margin-top: 0;
    }

    .intro-header {
        background-color: #1661BE;
    }

    .intro-header {
        padding: 30px;
        margin-top: -30px;
    }

    .intro-header h3 {
        font-size: 15px;
    }

    .intro-header p {
        font-size: 14px;
    }
    .icon {
    	width: 60px;
    	height: 60px;
    	padding-top: 14px;
    	font-size: 24px;
    }
    .content-item {
    	width: 230px;
    }

    .intro-contact {
        padding: 30px;
    }
    .content-item h3 {
    	font-size: 16px;
    }
    .content-item p {
    	font-size: 14px;
    	line-height: 16px;
    }

    .occupation-section {
        padding:50px 30px;
    }

    .unsalaried-section {
        padding:50px 30px;
    }
}

/* roboto-regular - latin */
@font-face {
  font-family:'Roboto';
  font-style:normal;
  font-display:fallback;
  font-weight:400;
  src: url('../fonts/roboto-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v19-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* Font Awesome Icons */
@font-face
{
	font-family:"Font Awesome 5 Brands";
	font-style:normal;
	font-display:fallback;
	font-weight:400;
	font-display:auto;
	src:url(../fonts/fa-brands-400.eot); /* IE9 Compat Modes */
	src:url(../fonts/fa-brands-400.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
	url(../fonts/fa-brands-400.woff2) format("woff2"), /* Super Modern Browsers */
	url(../fonts/fa-brands-400.woff) format("woff"), /* Modern Browsers */
	url(../fonts/fa-brands-400.ttf) format("truetype"), /* Safari, Android, iOS */
	url(../fonts/fa-brands-400.svg#fontawesome) format("svg"); /* Legacy iOS */
}

@font-face
{
	font-family:"Font Awesome 5 Pro";
	font-style:normal;
	font-display:fallback;
	font-weight:300;
	font-display:auto;
	src:url(../fonts/fa-light-300.eot); /* IE9 Compat Modes */
	src:url(../fonts/fa-light-300.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
	url(../fonts/fa-light-300.woff2) format("woff2"), /* Super Modern Browsers */
	url(../fonts/fa-light-300.woff) format("woff"), /* Modern Browsers */
	url(../fonts/fa-light-300.ttf) format("truetype"), /* Safari, Android, iOS */
	url(../fonts/fa-light-300.svg#fontawesome) format("svg"); /* Legacy iOS */
}

.fa,.fab,.fal,.far,.fas
{
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
	display:inline-block;
	font-style:normal;
	font-variant:normal;
	text-rendering:auto;
	line-height:1
}

.fab
{
	font-family:"Font Awesome 5 Brands"
}

.fa,.fal,.far,.fas
{
	font-family:"Font Awesome 5 Pro"
}

.fa-envelope:before
{
	content:"\f0e0"
}

.fa-xing:before
{
	content:"\f168"
}

.fa-github:before
{
	content:"\f09b"
}

.fa-joomla:before
{
	content:"\f1aa"
}

.fa-user-tie:before
{
	content:"\f508"
}

.fa-user-clock:before
{
	content:"\f4fd"
}

.fa-cogs:before
{
	content:"\f085"
}

.fa-calendar-alt:before
{
	content:"\f133"
}

.fa-ambulance:before
{
	content:"\f0f9"
}

.fa-smile:before
{
	content:"\f118"
}

.modal-window {
    position: fixed;
    background-color: rgba(22,97,190, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    z-index: 9999;
}
.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}
.modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
}

.modal-window.dse > div {
    width:80%;

    font-size:0.8rem;
}

.modal-window.dse {
    line-height:1rem;
}

.modal-window.dse ul, .modal-window.dse h3 {
    padding:1rem 2rem;
}
.modal-window header {
    font-weight: bold;
}
.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    font-weight: bold;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}
.modal-close:hover {
    color: black;
}

.text-center {
    text-align: center;
}

.btn {
    color:#fff;
}
